.key {
  height: 5.8rem;
  margin-right: 0.6rem;
  border-radius: 0.4rem;
  text-transform: uppercase;
  border: none;
  background-color: #d3d6da;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  cursor: pointer;
  font-weight: 700;
}

.dark {
  background-color: #818384;
  color: white;
}
