$bg: white;
$bg-dark: #383838;

.popup {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 800;
}

.message {
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  font-weight: 700;
  background-color: $bg-dark;
  color: white;
}

.dark {
  .message {
    background-color: white;
    color: $bg-dark;
  }
}
