.settings {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 50rem;
  top: 0;
  left: 50%;
  display: flex;
  flex-direction: column;
  transform: translateX(-50%);
  background-color: rgb(255, 255, 255);
  z-index: 3000;
}

.header {
  height: 5rem;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d3d6da;
  position: relative;

  h2 {
    font-size: 3.6rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
  }
}

.help,
.close,
.toggle {
  display: grid;
  place-items: center;
  cursor: pointer;
}

.setting {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  border-bottom: 1px solid #d3d6da;
}

.link {
  color: grey;
  cursor: pointer;
}

.footer {
  margin-top: auto;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  font-size: 1.4rem;

  div {
    margin-left: 0.5rem;
    color: grey;
  }
}
