.gameBoard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.gameGrid {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 0.5rem;
  padding: 1rem;
}

.row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 0.5rem;
}

.tile {
  margin: 0 auto;
  width: 4.5rem;
  height: 4.5rem;
  border: 1px solid gray;
}
